---
layout: default
---

<div class="home">

  <h1>Posts</h1>

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="pagination">
  {% if paginator.previous_page %}<li class="newer"><a href="/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}/{% endif %}">＜ NEWER</a></li>{% endif %}
  {% if paginator.next_page %}<li class="older"><a href="/page{{ paginator.next_page }}/">OLDER ＞</a></li>{% endif %}
	</ul>
</div>
